# Exclude all files from target directory
testing/target/
build/
dist/
venv*/

# Exclude all idea related project files
*.idea/
*.iml
*.ipr
*.iws

# Exclude all Eclipse related project files
.settings/
.project
.classpath
.pydevproject

# Exclude other generated items
test-output/
.DS_Store
.checkstyle
.pmd
.pmdruleset.xml
node_modules
yarn.lock

